@import "../../node_modules/octicons/index";

.site-header {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: -1px;
  background-color: #ffffff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.075);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
a.nav-item {
  color: #3c4146;
  padding-left: 8px;
  padding-right: 8px;
}

.secondary {
  font-size: 13px;
}

.control:not(:last-child) {
  margin-bottom: 0px;
}

.nav-btn {
  margin-top: 2%;
  margin-bottom: 2%;
  font-weight: 500;
}

#sign-in-btn {
  margin-right: 6px;
  color: #333;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #eee;
  background-image: -webkit-linear-gradient(#fcfcfc, #eee);
  border: 1px solid #d5d5d5;
  border-radius: 3px;
  -webkit-appearance: none;
}

#sign-in-btn:hover {
  text-decoration: none;
  background-color: #ddd;
  background-image: -webkit-linear-gradient(#eee, #ddd);
  background-image: linear-gradient(#eee, #ddd);
  border-color: #ccc;
}

#sign-up-btn {

  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.15);
  background-color: #60b044;
  background-image: -webkit-linear-gradient(#8add6d, #60b044);
  background-image: linear-gradient(#8add6d, #60b044);
  border-color: #5ca941;

}

#sign-up-btn:hover {
  color: #fff;
  background-color: #569e3d;
  background-image: -webkit-linear-gradient(#79d858, #569e3d);
  background-image: linear-gradient(#79d858, #569e3d);
  border-color: #4a993e;
}

#input-label {
  font-size: 12px;
  color: #767676;
  width: 110px;
}

#input{
  width: 116.812px;
}

.left-end {

  margin-left: 10px;

}

.right-end {

  margin-right: 28%;
}

.nav-item:hover {
  color: #000;
  text-decoration: none;
}
