@import "_navbar";
@import "../../node_modules/octicons/index";
@import "../../node_modules/primer-support/index";

.org-name {
  font-weight: normal;
  color: #333;
}

.orghead {
  padding-top: 20px;
  padding-bottom: 0;
  margin-bottom: 20px;
  color: #666;
}

.info {
  color: #666;
  border-bottom: 1px solid #eee;
}

.org-header-meta {
  display: inline-block;
  font-size: 12px;
  padding-right: 18px;
  line-height: 1.5;
  list-style: none;
}

h1 {
  font-size: 32px;
  font-weight: 600;
}

.container {
  width: 980px;
  margin-right: auto;
  margin-left: auto;
}

.container::before {
  display: table;
  content: "";
}

.container::after {
  display: table;
  clear: both;
  content: "";
}

.page-content {
  padding-top: 20px;
}

.nav.active {
  margin-left: 40%;
  margin-right: 0.01px;
  background: #fff;
  border-bottom: none;
  border-top: 3px solid #d26911;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
}

.tabs-wrapper, .orghead, .info {

  background: #fafafa;
}

.tabs-wrapper {
  border-bottom: 1px solid #e5e5e5;
  position: relative;
}

.tab-pane, .table > tbody > tr > td.active {
  background: #fff;
}

.tabs ul {
  border-bottom: none;
}

#other-tab {
  margin-left: 30px;
}

.tabs a {
  width: 109.828px;
  border-bottom: none;
  padding: 8px 15px 11px;
}

.columns {
  padding-top: 20px;
}

.column {
  float: left;
  padding-right: 10px;
  padding-left: 10px;
}


img.octicon {
  margin-left: 28%;
  margin-top: 2%;
  height: 32px;
  width: 32px;
  display: block;
}

.jumbotron {

  background-color: rgb(0, 0, 0);

}

.jumbotron-home {

  height: 516px;
  background-image: url("../images/home-hero.jpg");
  background-size: cover;
  background-position: bottom left;
  background-color: #000000 !important;
  margin: 0px;
}

.jumbotron::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  content: "";
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}

.header-table {

  display: inline-block;
  padding: 20px;
  vertical-align: middle;
}

#org-avatar {
  vertical-align: middle;
  display: inline-block;
  width: 100px;
}

.home-hero, .jumbotron, .jumbotron-followup-container, .featurette, .site-header, .site-subheader, .tile .container {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.4;
}
