.octicon {
  display: inline-block;
  vertical-align: text-top;
  fill: currentColor;
}

.site-header {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: -1px;
  background-color: #ffffff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.075);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

a.nav-item {
  color: #3c4146;
  padding-left: 8px;
  padding-right: 8px;
}

.secondary {
  font-size: 13px;
}

.control:not(:last-child) {
  margin-bottom: 0px;
}

.nav-btn {
  margin-top: 2%;
  margin-bottom: 2%;
  font-weight: 500;
}

#sign-in-btn {
  margin-right: 6px;
  color: #333;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #eee;
  background-image: -webkit-linear-gradient(#fcfcfc, #eee);
  border: 1px solid #d5d5d5;
  border-radius: 3px;
  -webkit-appearance: none;
}

#sign-in-btn:hover {
  text-decoration: none;
  background-color: #ddd;
  background-image: -webkit-linear-gradient(#eee, #ddd);
  background-image: linear-gradient(#eee, #ddd);
  border-color: #ccc;
}

#sign-up-btn {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
  background-color: #60b044;
  background-image: -webkit-linear-gradient(#8add6d, #60b044);
  background-image: linear-gradient(#8add6d, #60b044);
  border-color: #5ca941;
}

#sign-up-btn:hover {
  color: #fff;
  background-color: #569e3d;
  background-image: -webkit-linear-gradient(#79d858, #569e3d);
  background-image: linear-gradient(#79d858, #569e3d);
  border-color: #4a993e;
}

#input-label {
  font-size: 12px;
  color: #767676;
  width: 110px;
}

#input {
  width: 116.812px;
}

.left-end {
  margin-left: 10px;
}

.right-end {
  margin-right: 28%;
}

.nav-item:hover {
  color: #000;
  text-decoration: none;
}

.full-name {
  font-size: 26px;
  line-height: 30px;
  font-weight: 600;
  color: #333;
}

.username {
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  color: #666;
}

.vcard-details {
  list-style: none;
}

.py-3 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.border-gray-light {
  border-color: #eee;
}

.rounded-2 {
  border-radius: 6px !important;
}

.border-top {
  border-top: 1px #e5e5e5 solid;
}

.vcard-details .css-truncate.css-truncate-target {
  width: 100%;
  max-width: 100%;
}

.css-truncate.css-truncate-target, .css-truncate .css-truncate-target {
  display: inline-block;
  max-width: 125px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: top;
}

.vcard-stat {
  float: left;
  width: 33.333%;
  font-size: 11px;
  text-transform: capitalize;
}

.vcard-stat-count {
  font-size: 28px;
  font-weight: 600;
  line-height: 1;
  color: #4078c0;
  text-decoration: none;
}

.nav-tabs > li > a {
  color: #333;
  background-color: #fff;
  border-color: #ddd;
  border-radius: 3px 3px 0 0;
  border-bottom: none;
  min-height: 0px;
}

.repo-list-meta {
  display: block;
  margin-top: 8px;
  margin-bottom: 0;
  font-size: 13px;
  color: #888;
}

.repo-name {
  color: #4078c0;
  text-decoration: none;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 600;
}

.repo-description {
  max-width: 550px;
  margin-top: 8px;
  margin-bottom: 0;
  font-size: 14px;
  color: #666;
}

.repo-name:hover, .repo-name:active {
  text-decoration: underline;
}

.repo-list-item {
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
  list-style: none;
  border-bottom: 1px solid #eee;
  background: #fff;
}

.org-sidebar {
  padding-top: 30px;
  float: right;
  width: 280px;
}

.org-module-link {
  display: block;
  padding-bottom: 15px;
  color: #333;
  font-size: 18px;
  font-weight: 600;
}

.org-module-link:hover {
  color: #4078c0;
  text-decoration: none;
}

.simple-box {
  padding: 15px;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.member-avatar-group {
  margin: -1px;
}

.repoTableComponent {
  display: inline-block;
}

.table-list-item {
  position: relative;
  display: table-row;
  list-style: none;
}

.member-list-avatar {
  float: left;
  margin-right: 15px;
  height: 48px;
  width: 48px;
}

.table-list {
  display: table;
  width: 100%;
  color: #999;
  table-layout: fixed;
  border-bottom: 1px solid #e5e5e5;
}

.member-info {
  width: 280px;
  padding-left: 10px;
  font-size: 14px;
}

.table-list-cell {
  position: relative;
  display: table-cell;
  padding: 8px 10px;
  font-size: 12px;
  vertical-align: top;
  border-top: 1px solid #eee;
}

.member-list-item .table-list-cell {
  padding-top: 10px;
  padding-bottom: 10px;
  vertical-align: middle;
}

.member-info-content {
  margin-bottom: 5px;
  overflow: hidden;
}

.follow-button {
  padding: 3px 10px;
  line-height: 20px !important;
  height: 28px;
  font-size: 12px;
  width: 57.1719px;
  font-weight: 600;
  text-align: right;
  background-color: #eee;
  background-image: -webkit-linear-gradient(#fcfcfc, #eee);
  background-image: linear-gradient(#fcfcfc, #eee);
  border: 1px solid #d5d5d5;
  display: inline-block;
  color: #333;
}

.member-username {
  display: block;
  margin-top: 4px;
  font-size: 14px;
  font-weight: 600;
}

a {
  color: #333;
}

a:hover {
  text-decoration: none;
  color: #4078c0;
}

.member-list-item .member-link:hover .member-username {
  color: #4078c0;
}

.member-meta {
  color: #767676;
  text-align: center;
}

.member-follow {
  text-align: right;
}

.follow-button:hover, .follow-button:active {
  text-decoration: none;
  background-color: #ddd;
  background-image: -webkit-linear-gradient(#eee, #ddd);
  background-image: linear-gradient(#eee, #ddd);
  border-color: #ccc;
}

.site-footer {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  font-size: 12px;
  line-height: 1.5;
  color: #767676;
  border-top: 1px solid #eee;
}

.site-footer-links li {
  display: inline-block;
  line-height: 16px;
}

.octicon {
  display: inline-block;
  vertical-align: text-top;
  fill: currentColor;
}

.org-name {
  font-weight: normal;
  color: #333;
}

.homepage-table {
  margin: 0% 15%;
}

.avatar {
  display: inline-block;
  overflow: hidden;
  line-height: 1;
  vertical-align: middle;
  border-radius: 3px;
  height: 60px;
  width: 60px;
}

.orghead {
  padding-top: 20px;
  padding-bottom: 0;
  margin-bottom: 20px;
  color: #666;
}

.info {
  color: #666;
  border-bottom: 1px solid #eee;
}

.org-header-meta {
  display: inline-block;
  font-size: 12px;
  padding-right: 18px;
  line-height: 1.5;
  list-style: none;
}

h1 {
  font-size: 32px;
  font-weight: 600;
}

.container {
  width: 980px;
  margin-right: auto;
  margin-left: auto;
}

.container::before {
  display: table;
  content: "";
}

.container::after {
  display: table;
  clear: both;
  content: "";
}

.page-content {
  padding-top: 20px;
}

.page {
  background: #fff;
}

.nav.active {
  margin-left: 0%;
  margin-right: 0.01px;
  background: #fff;
  border-bottom: none;
  border-top: 3px solid #d26911;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
}

.tab-pane {
  width: 100%;
}

.tabs-wrapper, .orghead, .info {
  background: #fafafa;
}

.tabs-wrapper {
  border-bottom: 1px solid #e5e5e5;
  position: relative;
}

.tabs ul {
  border-bottom: none;
}

.tabs a:hover {
  text-decoration: none;
}

.tabs a {
  width: 109.828px;
  border-bottom: none;
  padding: 8px 15px 11px;
  text-decoration: none;
}

.columns {
  padding-top: 20px;
}

.column {
  float: left;
  padding-right: 10px;
  padding-left: 10px;
}

img.octicon {
  margin-left: 28%;
  margin-top: 2%;
  height: 32px;
  width: 32px;
  display: block;
}

.jumbotron {
  background-color: black;
}

.jumbotron-home {
  height: 516px;
  background-image: url("../images/home-hero.jpg");
  background-size: cover;
  background-position: bottom left;
  background-color: #000000 !important;
  margin: 0px;
}

.jumbotron::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  content: "";
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}

.header-table {
  display: inline-block;
  padding: 20px;
  vertical-align: middle;
}

#org-avatar {
  vertical-align: middle;
  display: inline-block;
  width: 100px;
}

.table-list, .home-hero, .jumbotron, .jumbotron-followup-container, .featurette, .site-header, .site-subheader, .tile .container {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

/*# sourceMappingURL=styles.css.map */
